{% extends "registration/base.html" %}

{% block header %}
<header>
    <h1 class="title m-b-md">{{ title }}</h1>
    <h4 class="sub-title">{{ sub_title }}</h4>
</header>
{% endblock %}

{% block content %}
<section class="main-content">
    <form class="registration" action="{% url 'registration:signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="email" value="{{ form.email.value }}" />
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="full_name" id="full-name" placeholder="full name" value="{{ form.full_name.value }}"/>
            {{ form.full_name.errors }}
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="user_name" id="user-name" placeholder="user name" value="{{ form.user_name.value }}" />
            {{ form.user_name.errors }}
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="password" value="{{ form.password.value }}" />
            {{ form.password.errors }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="SIGN UP" />
        </div>
    </form>
</section>
<br>
<section class="other-options">
    <div class="sign-in">
    Already have an account? <a href="#">Sign In</a>.
    </div>
    <div class="trouble">
        Having trouble signing up? <a href="#">Contact us</a>.
    </div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer">
    Copyright &copy; {{year}}
    <span class="dark-line">|</span>
    <a href="#">Terms of Service</a>
    <span class="dark-line">|</span>
    <a href="#">Privacy Policy</a>
    <span class="dark-line">|</span>
    <a href="#">Contact</a>
</footer>
{% endblock %}
